@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
.preview {
  box-shadow: 0 0 0 1px var(--color-base-100) inset;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-base-100),
    var(--color-base-100) 13px,
    var(--color-base-200) 13px,
    var(--color-base-200) 14px
  );
  background-size: 40px 40px;
}
